<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.login}+#{title.postfix}"></title>
    </head>
    <body>
        <div layout:fragment="content">
            <form method="post" th:action="@{/login}">
                <label for="email">email</label>
                <input type="text" name="email">
                <label for="password">password</label>
                <input type="password" name="password">
                <input type="submit" value="login">
            </form>
        </div>
    </body>
</html>