<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.signup}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/auth.css}">
        <script th:src="@{/js/part/auth.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                let signupButton = $('#'+getProperty('auth.signup.button.id'));
                signupButton.on('click', signup);

                showMain();
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 th:text="#{auth.signup.h2}"></h2>
            <form th:id="#{auth.signup.form.id}" method="post" th:action onSubmit="return false;">
                <table>
                    <tr th:id="#{auth.email.id}">
                        <th><label for="email" th:text="#{auth.email.caption}"></label></th>
                        <td><input type="email" name="email" th:placeholder="#{auth.email.placeholder}"></td>
                    </tr>
                    <tr th:id="#{auth.password.id}">
                        <th><label for="password" th:text="#{auth.password.caption}"></label></th>
                        <td><input type="password" name="password" th:placeholder="#{auth.password.placeholder}"></td>
                    </tr>
                    <tr th:id="#{auth.rePassword.id}">
                        <th><label for="rePassword" th:text="#{auth.rePassword.caption}"></label></th>
                        <td><input type="password" name="rePassword" th:placeholder="#{auth.rePassword.placeholder}"></td>
                    </tr>
                    <tr th:id="#{auth.name.id}">
                        <th><label for="name" th:text="#{auth.name.caption}"></label></th>
                        <td><input type="text" name="name" th:placeholder="#{auth.name.placeholder}"></td>
                    </tr>
                </table>
                <button type="button"
                    th:id="#{auth.signup.button.id}" th:text="#{auth.signup.button.caption}"></button>
            </form>
        </div>
    </body>
</html>