<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <script th:src="@{/js/part/book.js}" defer></script>
        <script type="text/javascript">
            $(function() {

                let toEditButton = $('#'+getProperty('book.show.button.toEdit.id'));
                toEditButton.click(showEdit);

                function showEdit() {
                    console.log('showEdit');
                }
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
                <!-- show -->
                <div th:id="#{book.show.container.id}" class="bookShow">
                    <table class="bookShow">
                        <tr th:id="#{book.show.name.id}">
                            <th th:text="#{book.detail.name.caption}"></th>
                            <td th:text="${book.name}"></td>
                        </tr>
                        <tr th:id="#{book.show.state.id}">
                            <th th:text="#{book.detail.state.caption}"></th>
                            <td th:text="${book.state}"></td>
                        </tr>
                        <tr th:id="#{book.show.evaluation.id}">
                            <th th:text="#{book.detail.evaluation.caption}"></th>
                            <td th:text="${book.evaluation}"></td>
                        </tr>
                        <tr th:id="#{book.show.createdAt.id}">
                            <th th:text="#{book.detail.createdAt.caption}"></th>
                            <td th:text="${book.createdAt}"></td>
                        </tr>
                        <tr th:id="#{book.show.updatedAt.id}">
                            <th th:text="#{book.detail.updatedAt.caption}"></th>
                            <td th:text="${book.updatedAt}"></td>
                        </tr>
                        <tr th:id="#{book.show.memo.id}">
                            <th th:text="#{book.detail.memo.caption}"></th>
                            <td th:text="${book.memo}"></td>
                        </tr>
                    </table>
                    <input type="button" th:id="#{book.show.button.toEdit.id}"
                            th:value="#{book.show.button.toEdit.caption}">
                </div>

                <!-- edit -->
                <div hidden th:id="#{book.edit.container.id}" class="bookEdit">
                    <table class="bookEdit">
                        <tr th:id="#{book.edit.name.id}">
                            <th th:text="#{book.detail.name.caption}"></th>
                            <td th:text="${book.name}"></td>
                        </tr>
                        <tr th:id="#{book.edit.state.id}">
                            <th th:text="#{book.detail.state.caption}"></th>
                            <td th:text="${book.state}"></td>
                        </tr>
                        <tr th:id="#{book.edit.evaluation.id}">
                            <th th:text="#{book.detail.evaluation.caption}"></th>
                            <td th:text="${book.evaluation}"></td>
                        </tr>
                        <tr th:id="#{book.edit.memo.id}">
                            <th th:text="#{book.detail.memo.caption}"></th>
                            <td th:text="${book.memo}"></td>
                        </tr>
                    </table>
                    <input type="button" th:value="#{book.edit.button.cancel.caption}" onclick="">
                    <input type="button" th:value="#{book.edit.button.update.caption}" onclick="">
                    <input type="button" th:value="#{book.edit.button.delete.caption}" onclick="">
                </div>
            </th:block>

            <input type="button" th:value="#{button.browserBack.caption}" th:title="#{button.browserBack.tooltip}"
                    th:onclick="#{button.browserBack.script}">
        </div>
    </body>
</html>