<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.book.show}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <script th:src="@{/js/part/book.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                showBookDetail();
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:id="#{book.detail.container.id}" class="bookDetail" th:data="${book.id}"></div>
        </div>
    </body>
</html>