<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.book.show}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <script th:src="@{/js/part/book.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                showBookDetail();
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:id="#{book.detail.container.id}" class="bookDetail" th:data="${book.id}">
                <!-- jsでdata属性からid読み取って作成するようにする
                <table>
                    <tr th:id="#{book.detail.name.id}">
                        <th th:text="#{book.name.caption}"></th>
                        <td th:data="${book.name}"></td>
                    </tr>
                    <tr th:id="#{book.detail.state.id}">
                        <th th:text="#{book.state.caption}"></th>
                        <td th:data="${book.state}"></td>
                    </tr>
                    <tr th:id="#{book.detail.evaluation.id}">
                        <th th:text="#{book.evaluation.caption}"></th>
                        <td th:data="${book.evaluation}"></td>
                    </tr>
                    <tr th:id="#{book.detail.createdAt.id}">
                        <th th:text="#{book.createdAt.caption}"></th>
                        <td th:data="${book.createdAt}"></td>
                    </tr>
                    <tr th:id="#{book.detail.updatedAt.id}">
                        <th th:text="#{book.updatedAt.caption}"></th>
                        <td th:data="${book.updatedAt}"></td>
                    </tr>
                    <tr th:id="#{book.detail.memo.id}">
                        <th th:text="#{book.memo.caption}"></th>
                        <td th:data="${book.memo}"></td>
                    </tr>
                </table>
                 -->
            </div>
        </div>
    </body>
</html>