<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="${bookshelf.name}+#{title.postfix}"></title>
        <meta th:id="#{meta.csrf.token.id}" th:content="${_csrf.token}">
        <meta th:id="#{meta.csrf.header.id}" th:content="${_csrf.headerName}">
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <link th:replace="part/pagination::paginationCss">
        <script th:src="@{/js/util/dialog.js}" defer></script>
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script th:src="@{/js/part/book.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                initializeBookCreateDialog();
                initializeButtons();

                let bookStateRadios = $('#'+getProperty('book.create.state.id')+' td ol').find('input');
                controlBookStateRadioView(bookStateRadios);
                let bookEvaluationRadios = $('#'+getProperty('book.create.evaluation.id')).find('input');
                controlBookEvaluationRadioView(bookEvaluationRadios);

                let userId = $('#'+getProperty('bookshelf.user.id')).val();
                if(!isLoginUserId(userId)) {
                    $('#'+getProperty('bookshelf.show.button.toEdit.id')).remove();
                    $('#'+getProperty('bookshelf.edit.container.id')).remove();
                    $('#'+getProperty('book.create.dialog.id')).remove();
                    $('#'+getProperty('bookshelf.detail.button.bookCreate.id')).remove();
                }
                showMain();

                function initializeBookCreateDialog() {
                    let bookCreateDialogShowButton = {
                        element : $('#'+getProperty('bookshelf.detail.button.bookCreate.id')),
                        click : 'show'
                    }
                    let bookCreateDialogRegisterButton = {
                        element : $('#'+getProperty('book.create.dialog.buttons.register.id')),
                        click : createBook
                    };
                    let bookCreateDialogCancelButton = {
                        element : $('#'+getProperty('book.create.dialog.buttons.cancel.id')),
                        click : 'hide'
                    };
                    let bookCreateDialogButtons = [
                        bookCreateDialogShowButton,
                        bookCreateDialogRegisterButton,
                        bookCreateDialogCancelButton
                    ]
                    let bookCreateDialogDef = {
                        dialog : $('#'+getProperty('book.create.dialog.id')),
                        titleText : getProperty('book.create.dialog.title'),
                        firstElement : $('#'+getProperty('book.create.name.id')+' td input'),
                        buttons : bookCreateDialogButtons
                    }
                    new CommonDialog(bookCreateDialogDef);
                }
                function initializeButtons() {
                    let toEditButton = $('#'+getProperty('bookshelf.show.button.toEdit.id'));
                    toEditButton.click(toEdit);
                    let toShowButton = $('#'+getProperty('bookshelf.edit.button.toShow.id'));
                    toShowButton.click(toShow);
                    let updateButton = $('#'+getProperty('bookshelf.edit.button.update.id'));
                    updateButton.click(updateBookshelf);
                    let deleteButton = $('#'+getProperty('bookshelf.edit.button.delete.id'));
                    deleteButton.click(deleteBookshelf);

                    function toEdit() {
                        let editContainer = $('#'+getProperty('bookshelf.edit.container.id'));
                        let showContainer = $('#'+getProperty('bookshelf.show.container.id'));
                        editContainer.show();
                        showContainer.hide();
                    }
                    function toShow() {
                        let editContainer = $('#'+getProperty('bookshelf.edit.container.id'));
                        let showContainer = $('#'+getProperty('bookshelf.show.container.id'));
                        editContainer.hide();
                        showContainer.show();
                    }

                }
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 th:id="#{bookshelf.detail.name.id}" th:text="${bookshelf.name}"></h2>
            <!-- bookshelf user -->
            <input type="hidden" th:id="#{bookshelf.user.id}"
                    th:value="${bookshelf.user.id}">
            <!-- bookshelf show -->
            <div th:id="#{bookshelf.show.container.id}">
                <div th:id="#{bookshelf.show.description.id}">
                    <pre th:text="${bookshelf.description}"></pre>
                </div>
                <div th:id="#{bookshelf.show.createdAt.id}">
                    <p class="caption" th:text="#{bookshelf.show.createdAt.caption}"></p>
                    <p th:text="${#temporals.format(bookshelf.createdAt, 'yyyy/MM/dd HH:mm')}"></p>
                </div>
                <div th:id="#{bookshelf.show.updatedAt.id}">
                    <p class="caption" th:text="#{bookshelf.show.updatedAt.caption}"></p>
                    <p th:text="${#temporals.format(bookshelf.updatedAt, 'yyyy/MM/dd HH:mm')}"></p>
                </div>
                <button type="button" th:id="#{bookshelf.show.button.toEdit.id}"
                        th:text="#{bookshelf.show.button.toEdit.caption}"
                        th:title="#{bookshelf.show.button.toEdit.tooltip}"></button>
            </div>
            <!-- bookshelf edit -->
            <div th:id="#{bookshelf.edit.container.id}" style="display:none;">
                <form th:id="#{bookshelf.edit.form.id}" th:object="${bookshelf}" th:action method="post"
                        autocomplete="off" onSubmit="return false;">
                    <input type="hidden" th:id="#{bookshelf.edit.id.id}" th:field="*{id}">
                    <div th:id="#{bookshelf.edit.name.id}">
                        <p class="caption" th:text="#{bookshelf.detail.name.caption}"></p>
                        <input type="text" th:field="*{name}">
                    </div>
                    <div th:id="#{bookshelf.edit.description.id}">
                        <p class="caption" th:text="#{bookshelf.detail.description.caption}"></p>
                        <textarea th:field="*{description}"></textarea>
                    </div>
                </form>
                <button th:id="#{bookshelf.edit.button.toShow.id}"
                        th:text="#{bookshelf.edit.button.toShow.caption}"
                        th:title="#{bookshelf.edit.button.toShow.tooltip}"></button>
                <button th:id="#{bookshelf.edit.button.update.id}"
                        th:text="#{bookshelf.edit.button.update.caption}"
                        th:title="#{bookshelf.edit.button.update.tooltip}"></button>
                <button th:id="#{bookshelf.edit.button.delete.id}"
                        th:text="#{bookshelf.edit.button.delete.caption}"
                        th:title="#{bookshelf.edit.button.delete.tooltip}"
                        class="buttonDanger"></button>
            </div>

            <!-- overlay -->
            <div id="overlay"></div>

            <!-- book create dialog -->
            <div th:id="#{book.create.dialog.id}" class="dialog">
                <div class="dialogContent">
                    <form th:id="#{book.create.form.id}" th:object="${book}" th:action method="post"
                            autocomplete="off" onSubmit="return false;">
                        <input type="hidden" th:field="*{bookshelf}">
                        <table class="bookCreate">
                            <tr th:id="#{book.create.name.id}">
                                <th th:text="#{book.create.name.caption}"></th>
                                <td><input type="text" th:field="*{name}"></td>
                            </tr>
                            <tr th:id="#{book.create.state.id}">
                                <th th:text="#{book.create.state.caption}"></th>
                                <td><ol>
                                    <li th:each="i:${#numbers.sequence(0, states.size()-1)}">
                                        <label th:for="'state'+${i}">
                                            <input type="radio" th:id="'state'+${i}" name="state"
                                                th:value="${i}" th:checked="${book.state eq i}">
                                            <span th:text="${states[i]}"></span>
                                        </label>
                                    </li>
                                </ol></td>
                            </tr>
                            <tr th:id="#{book.create.evaluation.id}">
                                <th th:text="#{book.create.evaluation.caption}"></th>
                                <td><ol>
                                    <li th:each="i:${#numbers.sequence(1, 5)}">
                                        <label th:for="'evaluation'+${i}">
                                            <input type="radio" th:id="'evaluation'+${i}" name="evaluation"
                                                    th:value="${i}" th:checked="${book.evaluation eq i}">
                                            <span>☆</span>
                                        </label>
                                     </li>
                                </ol></td>
                            </tr>
                            <tr th:id="#{book.create.memo.id}">
                                <th th:text="#{book.create.memo.caption}"></th>
                                <td><textarea th:field="*{memo}"></textarea></td>
                            </tr>
                        </table>
                        <div class="dialogButtonWrapper">
                            <button class="dialogButton"
                                    th:id="#{book.create.dialog.buttons.cancel.id}"
                                    th:text="#{book.create.dialog.buttons.cancel.caption}"></button>
                            <button class="dialogButton"
                                    th:id="#{book.create.dialog.buttons.register.id}"
                                    th:text="#{book.create.dialog.buttons.register.caption}"></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- confirm dialog -->
            <div th:id="#{confirm.dialog.id}" class="dialog confirmDialog">
                <div class="dialogContent">
                    <pre class="confirmDialogMessage"></pre>
                    <div class="dialogButtonWrapper">
                        <button class="dialogButton"
                                th:id="#{confirm.dialog.buttons.cancel.id}"
                                th:text="#{confirm.dialog.buttons.cancel.caption}"></button>
                        <button class="dialogButton"
                                th:id="#{confirm.dialog.buttons.ok.id}"
                                th:text="#{confirm.dialog.buttons.ok.caption}"></button>
                    </div>
                </div>
            </div>

            <button th:id="#{bookshelf.detail.button.bookCreate.id}"
                    th:text="#{bookshelf.detail.button.bookCreate.caption}"
                    th:title="#{bookshelf.detail.button.bookCreate.tooltip}"></button>
            <div th:id="#{book.list.container.id}">
                <a th:each="bookView:${bookViews}" th:href="@{/book/detail(id=${bookView.id})}" class="bookListAnchor">
                    <div th:id="'book'+${bookView.id}" class="bookList">
                        <table class="bookListInfo">
                            <tr th:title="#{book.list.name.caption}">
                                <td th:text="${bookView.name}"></td>
                            </tr>
                            <tr th:title="#{book.list.state.caption}">
                                <td th:text="${bookView.state}"></td>
                            </tr>
                            <tr th:title="#{book.list.evaluation.caption}">
                                <td th:text="${bookView.evaluation}"></td>
                            </tr>
                            <tr th:title="#{book.list.createdAt.caption}">
                                <td>
                                    <span th:text="#{book.list.createdAt.prefix}"></span>
                                    <br>
                                    <span th:text="${bookView.createdDate}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            <div th:replace="part/pagination::content(pages=${bookPages}, paginationUrl=detail, queryParam1='id='+${bookshelf.id})"></div>
            <button th:text="#{button.browserBack.caption}" th:title="#{button.browserBack.tooltip}"
                    th:onclick="#{button.browserBack.script}"></button>
        </div>
    </body>
</html>