<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="${bookshelf.name}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <link rel="stylesheet" th:href="@{/css/pagination.css}">
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script th:src="@{/js/part/book.js}" defer></script>
        <script th:src="@{/js/part/pagination.js}" defer></script>
        <script type="text/javascript">
            $(function() {

                let isShowDialog = false;
                let isFocusOnDialog = false;

                let bookCreateButton = $('#'+getProperty('bookshelf.detail.button.bookCreate.id'));
                bookCreateButton.click(function() {
                    showBookCreateDialog();
                });

                let overlay = $('#overlay');
                let bookCreateDialog = $('#'+getProperty('book.create.dialog.id'));
                let bookCreateDialogFirstElement = $('#'+getProperty('book.create.name.id')+' td input');
                let bookCreateDialogRegisterButton = $('#'+getProperty('book.create.dialog.buttons.register.id'));
                bookCreateDialogRegisterButton.on('click', function() {
                    createBook();
                });
                let bookCreateDialogCancelButton = $('#'+getProperty('book.create.dialog.buttons.cancel.id'));
                bookCreateDialogCancelButton.on('click', function() {
                    hideBookCreateDialog();
                });

                bookCreateDialog.on('focusin', function() {
                    isFocusOnDialog = true;
                });
                $(document.body).on('focusin', function() {
                    if(isShowDialog && !isFocusOnDialog) {
                        bookCreateDialogFirstElement.focus();
                    } else {
                        isFocusOnDialog = false;
                    }
                });

                function showBookCreateDialog() {
                    overlay.show();
                    bookCreateDialog.show();
                    bookCreateDialogFirstElement.focus();
                    isShowDialog = true;
                }
                function hideBookCreateDialog() {
                    overlay.hide();
                    bookCreateDialog.hide();
                    isShowDialog = false;
                }
                function createBook() {
                    let formData = $('#'+getProperty('book.create.form.id')).serializeArray();
                    $.ajax({
                        type : 'put',
                        url : '/rest/book/create',
                        data : formData,
                        dataType : 'json'
                    })
                    .done(function(result) {
                        if(result.code === 0) {
                            location.reload();
                        } else {
                            console.log('error '+result.code);
                        }
                    })
                    .fail(function() {

                    });
                }
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:id="#{bookshelf.detail.container.id}">
                <h1 th:text="${bookshelf.name}"></h1>
                <pre th:text="${bookshelf.description}"></pre>
                <p th:text="${#temporals.format(bookshelf.createdAt, 'yyyy/MM/dd HH:mm')}"></p>
                <p th:text="${#temporals.format(bookshelf.updatedAt, 'yyyy/MM/dd HH:mm')}"></p>
                <input type="button" th:id="#{bookshelf.detail.button.bookCreate.id}"
                        th:value="#{bookshelf.detail.button.bookCreate.caption}"
                        th:title="#{bookshelf.detail.button.bookCreate.tooltip}">
            </div>

            <!-- book create dialog -->
            <div id="overlay"></div>
            <div th:id="#{book.create.dialog.id}" class="dialog">
                <h3 class="dialogTitle" th:text="#{book.create.dialog.title}"></h3>
                <div class="dialogContent">
                    <form th:id="#{book.create.form.id}" th:object="${book}" th:action method="post" autocomplete="off">
                        <input type="hidden" th:field="*{bookshelf}">
                        <table class="bookCreate">
                            <tr th:id="#{book.create.name.id}">
                                <th th:text="#{book.create.name.caption}"></th>
                                <td><input type="text" th:field="*{name}"></td>
                            </tr>
                            <tr th:id="#{book.create.state.id}">
                                <th th:text="#{book.create.state.caption}"></th>
                                <td><input type="text" th:field="*{state}"></td>
                            </tr>
                            <tr th:id="#{book.create.evaluation.id}">
                                <th th:text="#{book.create.evaluation.caption}"></th>
                                <td><input type="text" th:field="*{evaluation}"></td>
                            </tr>
                            <tr th:id="#{book.create.memo.id}">
                                <th th:text="#{book.create.memo.caption}"></th>
                                <td><textarea th:field="*{memo}"></textarea></td>
                            </tr>
                        </table>
                        <div class="dialogButtonWrapper">
                            <input type="button" class="dialogButton"
                                    th:id="#{book.create.dialog.buttons.register.id}"
                                    th:value="#{book.create.dialog.buttons.register.caption}">
                            <input type="button" class="dialogButton"
                                    th:id="#{book.create.dialog.buttons.cancel.id}"
                                    th:value="#{book.create.dialog.buttons.cancel.caption}">
                        </div>
                    </form>
                </div>
            </div>

            <div th:id="#{book.list.container.id}">
                <a th:each="book:${books}" th:href="@{/book/detail(id=${book.id})}" class="bookListAnchor">
                    <div th:id="'book'+${book.id}" class="bookList">
                        <table class="bookListInfo">
                            <tr th:title="#{book.list.name.caption}">
                                <td th:text="${book.name}"></td>
                            </tr>
                            <tr th:title="#{book.list.state.caption}">
                                <td th:text="${book.state}"></td>
                            </tr>
                            <tr th:title="#{book.list.evaluation.caption}">
                                <td th:text="${book.evaluation}"></td>
                            </tr>
                            <tr th:title="#{book.list.createdAt.caption}">
                                <td th:text="${book.createdAt}"></td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            <ul th:id="#{pagination.container.id}" class="pagination">
                <th:block th:switch="${bookPages.first}">
                    <li th:case=true>
                        <span>前</span>
                    </li>
                    <li th:case=false>
                        <a th:href="@{detail(id=${bookshelf.id}, page=${bookPages.number}-1)}">前</a>
                    </li>
                </th:block>

                <li th:each="i:${#numbers.sequence(0, pageCount-1)}">
                    <th:block th:switch="${i}">
                        <span th:case="${bookPages.number}" th:text="${i+1}"></span>
                        <a th:case=* th:href="@{detail(id=${bookshelf.id},page=${i})}" th:text="${i+1}"></a>
                    </th:block>
                </li>

                <th:block th:switch="${bookPages.last}">
                    <li th:case=true>
                        <span>次</span>
                    </li>
                    <li th:case=false>
                        <a th:href="@{detail(id=${bookshelf.id}, page=${bookPages.number}+1)}">次</a>
                    </li>
                </th:block>
            </ul>
            <input type="button" th:id="#{bookshelf.detail.button.backToList.id}"
                    th:value="#{bookshelf.detail.button.backToList.caption}"
                    th:title="#{bookshelf.detail.button.backToList.tooltip}"
                    th:onclick="'location.href=\''+@{index(page=0)}+'\''">
        </div>
    </body>
</html>