<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.bookshelf.index}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link th:replace="part/bookshelfParts::bookshelfPartsCss">
        <link th:replace="part/pagination::paginationCss">
        <script type="text/javascript">
            $(function() {
                showMain();
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <h2 id="bookshelfIndexH2" th:text="#{bookshelf.index.h2}"></h2>
            <div th:replace="part/bookshelfParts::list(${bookshelfViews}, ${bookshelfPages})"></div>
            <div th:replace="part/pagination::content(pages=${bookshelfPages}, paginationUrl=index)"></div>
        </div>
    </body>
</html>