<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{part/layout}">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{title.bookshelf.index}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link rel="stylesheet" th:href="@{/css/pagination.css}">
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script th:src="@{/js/part/pagination.js}" defer></script>
        <script type="text/javascript">
        	$(function() {
                showBookshelfList(0);
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <h1>Bookshelf</h1>
            <form>
                <input type="text" th:id="#{bookshelf.searchBox.id}">
                <input type="submit" th:id="#{bookshelf.searchButton.id}" th:value="#{bookshelf.searchButton.caption}">
            </form>
            <div th:id="#{bookshelf.container.id}"></div>
            <div th:id="#{book.container.id}"></div>
            <ol th:id="#{pagination.container.id}"></ol>
        </div>
    </body>
</html>