<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.bookshelf.show}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <link rel="stylesheet" th:href="@{/css/pagination.css}">
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script th:src="@{/js/part/book.js}" defer></script>
        <script th:src="@{/js/part/pagination.js}" defer></script>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:id="#{bookshelf.detail.container.id}">
                <h1 th:text="${bookshelf.name}"></h1>
                <pre th:text="${bookshelf.description}"></pre>
                <p th:text="${#temporals.format(bookshelf.createdAt, 'yyyy/MM/dd HH:mm')}"></p>
                <p th:text="${#temporals.format(bookshelf.updatedAt, 'yyyy/MM/dd HH:mm')}"></p>
            </div>

            <div th:id="#{book.list.container.id}">
                <a th:each="book:${books}" th:href="@{/book/show(id=${book.id})}" class="bookListAnchor">
                    <div th:id="'book'+${book.id}" class="bookList">
                        <table class="bookListInfo">
                            <tr th:title="#{book.list.name.caption}">
                                <td th:text="${book.name}"></td>
                            </tr>
                            <tr th:title="#{book.list.state.caption}">
                                <td th:text="${book.state}"></td>
                            </tr>
                            <tr th:title="#{book.list.evaluation.caption}">
                                <td th:text="${book.evaluation}"></td>
                            </tr>
                            <tr th:title="#{book.list.createdAt.caption}">
                                <td th:text="${book.createdAt}"></td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
            <ul th:id="#{pagination.container.id}" class="pagination">
                <th:block th:switch="${bookPages.first}">
                    <li th:case=true>
                        <span>前</span>
                    </li>
                    <li th:case=false>
                        <a th:href="@{show(id=${bookshelf.id}, page=${bookPages.number}-1)}">前</a>
                    </li>
                </th:block>

                <li th:each="i:${#numbers.sequence(0, pageCount-1)}">
                    <th:block th:switch="${i}">
                        <span th:case="${bookPages.number}" th:text="${i+1}"></span>
                        <a th:case=* th:href="@{show(id=${bookshelf.id},page=${i})}" th:text="${i+1}"></a>
                    </th:block>
                </li>

                <th:block th:switch="${bookPages.last}">
                    <li th:case=true>
                        <span>次</span>
                    </li>
                    <li th:case=false>
                        <a th:href="@{show(id=${bookshelf.id}, page=${bookPages.number}+1)}">次</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </body>
</html>