<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="#{title.bookshelf.show}+#{title.postfix}"></title>
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link rel="stylesheet" th:href="@{/css/book.css}">
        <link rel="stylesheet" th:href="@{/css/pagination.css}">
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script th:src="@{/js/part/book.js}" defer></script>
        <script th:src="@{/js/part/pagination.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                showBookListInBookshelf(0);
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <div th:id="#{bookshelf.detail.container.id}">
                <h1 th:text="${bookshelf.name}"></h1>
                <pre th:text="${bookshelf.description}"></pre>
                <p th:text="${#temporals.format(bookshelf.createdAt, 'yyyy/MM/dd HH:mm')}"></p>
                <p th:text="${#temporals.format(bookshelf.updatedAt, 'yyyy/MM/dd HH:mm')}"></p>
            </div>

            <div th:id="#{book.list.container.id}" th:data-id="${bookshelf.id}"></div>
            <div th:id="#{pagination.container.id}"></div>
        </div>
    </body>
</html>