<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <head>
        <title th:text="${userView.name}+#{title.postfix}"></title>
        <meta th:id="#{meta.csrf.token.id}" th:content="${_csrf.token}">
        <meta th:id="#{meta.csrf.header.id}" th:content="${_csrf.headerName}">
        <link rel="stylesheet" th:href="@{/css/user.css}">
        <link rel="stylesheet" th:href="@{/css/bookshelf.css}">
        <link th:replace="part/bookshelfParts::bookshelfPartsCss">
        <link th:replace="part/pagination::paginationCss">
        <script th:src="@{/js/util/dialog.js}" defer></script>
        <script th:src="@{/js/part/user.js}" defer></script>
        <script th:src="@{/js/part/bookshelf.js}" defer></script>
        <script type="text/javascript">
            $(function() {
                initializeBookshelfCreateDialog()
                initializeButtons();

                let genderRadios = $('#'+getProperty('user.edit.gender.id')).find('input');
                controlGenderRadiosView(genderRadios);

                let userId = $('#'+getProperty('user.detail.id.id')).val();
                if(!isLoginUserId(userId)) {
                    $('#'+getProperty('user.show.button.toEdit.id')).remove();
                    $('#'+getProperty('user.edit.container.id')).remove();
                    $('#'+getProperty('bookshelf.create.dialog.id')).remove();
                    $('#'+getProperty('user.detail.button.bookshelfCreate.id')).remove();
                }

                showMain();

                function initializeBookshelfCreateDialog() {
                    let bookshelfCreateDialogShowButton = {
                        element : $('#'+getProperty('user.detail.button.bookshelfCreate.id')),
                        click : 'show'
                    }
                    let bookshelfCreateDialogRegisterButton = {
                        element : $('#'+getProperty('bookshelf.create.dialog.button.register.id')),
                        click : createBookshelf
                    };
                    let bookshelfCreateDialogCancelButton = {
                        element : $('#'+getProperty('bookshelf.create.dialog.button.cancel.id')),
                        click : 'hide'
                    };
                    let bookshelfCreateDialogButtons = [
                        bookshelfCreateDialogShowButton,
                        bookshelfCreateDialogRegisterButton,
                        bookshelfCreateDialogCancelButton
                    ]
                    let bookshelfCreateDialogDef = {
                        dialog : $('#'+getProperty('bookshelf.create.dialog.id')),
                        titleText : getProperty('bookshelf.create.dialog.title'),
                        firstElement : $('#'+getProperty('bookshelf.create.name.id')+' input'),
                        buttons : bookshelfCreateDialogButtons
                    }
                    new CommonDialog(bookshelfCreateDialogDef);
                }
                function initializeButtons() {
                    let toEditButton = $('#'+getProperty('user.show.button.toEdit.id'));
                    toEditButton.click(toEdit);
                    let toShowButton = $('#'+getProperty('user.edit.button.toShow.id'));
                    toShowButton.click(toShow);
                    let updateButton = $('#'+getProperty('user.edit.button.update.id'));
                    updateButton.click(updateUser);

                    function toEdit() {
                        let editContainer = $('#'+getProperty('user.edit.container.id'));
                        let showContainer = $('#'+getProperty('user.show.container.id'));
                        editContainer.show();
                        showContainer.hide();
                    }
                    function toShow() {
                        let editContainer = $('#'+getProperty('user.edit.container.id'));
                        let showContainer = $('#'+getProperty('user.show.container.id'));
                        editContainer.hide();
                        showContainer.show();
                    }

                }
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">
            <!-- overlay -->
            <div id="overlay"></div>

            <!-- confirm dialog -->
            <div th:id="#{confirm.dialog.id}" class="dialog confirmDialog">
                <div class="dialogContent">
                    <pre class="confirmDialogMessage"></pre>
                    <div class="dialogButtonWrapper">
                        <button class="dialogButton"
                                th:id="#{confirm.dialog.button.cancel.id}"
                                th:text="#{confirm.dialog.buttons.cancel.caption}"></button>
                        <button class="dialogButton"
                                th:id="#{confirm.dialog.button.ok.id}"
                                th:text="#{confirm.dialog.buttons.ok.caption}"></button>
                    </div>
                </div>
            </div>

            <h2 th:id="#{user.detail.name.id}" th:text="${userView.name}"></h2>

            <!-- user id -->
            <input type="hidden" th:id="#{user.detail.id.id}" th:value="${user.id}">

            <!-- user show -->
            <div th:id="#{user.show.container.id}">
                <div th:id="#{user.show.introduction.id}">
                    <p class="caption" th:text="#{user.detail.introduction.caption}"></p>
                    <pre th:text="${userView.introduction}"></pre>
                </div>
                <div th:id="#{user.show.gender.id}">
                    <p class="caption" th:text="#{user.detail.gender.caption}"></p>
                    <p th:text="${userView.gender}"></p>
                </div>
                <div th:id="#{user.show.birthday.id}">
                    <p class="caption" th:text="#{user.detail.birthday.caption}"></p>
                    <p th:text="${userView.birthday}"></p>
                </div>
                <div th:id="#{user.show.createdAt.id}">
                    <p class="caption" th:text="#{user.show.createdAt.caption}"></p>
                    <p th:text="${userView.createdAt}"></p>
                </div>
                <button type="button" th:id="#{user.show.button.toEdit.id}"
                        th:text="#{user.show.button.toEdit.caption}"
                        th:title="#{user.show.button.toEdit.tooltip}"></button>
            </div>

            <!-- user edit -->
            <div th:id="#{user.edit.container.id}" style="display:none;">
                <form th:id="#{user.edit.form.id}" th:object="${userEditForm}" th:action method="post"
                        autocomplete="off" onSubmit="return false;">
                    <input type="hidden" th:id="#{user.edit.id.id}" th:field="*{id}">
                    <table>
                        <tr th:id="#{user.edit.email.id}">
                            <th><label for="email" th:text="#{user.edit.email.caption}"></label></th>
                            <td><input type="email" th:field="*{email}"></td>
                        </tr>
                        <tr th:id="#{user.edit.name.id}">
                            <th><label for="name" th:text="#{user.detail.name.caption}"></label></th>
                            <td><input type="text" th:field="*{name}"></td>
                        </tr>
                        <tr th:id="#{user.edit.password.id}">
                            <th><label for="password" th:text="#{user.edit.password.caption}"></label></th>
                            <td><input type="password" name="password" th:placeholder="#{user.edit.password.placeholder}"></td>
                        </tr>
                        <tr th:id="#{user.edit.rePassword.id}">
                            <th><label for="rePassword" th:text="#{user.edit.rePassword.caption}"></label></th>
                            <td><input type="password" name="rePassword" th:placeholder="#{user.edit.rePassword.placeholder}"></td>
                        </tr>
                        <tr th:id="#{user.edit.gender.id}">
                            <th><label for="gender" th:text="#{user.detail.gender.caption}"></label></th>
                            <td><ol><li th:each="i:${#numbers.sequence(0, genders.length-1)}">
                                <label th:for="'gender'+${i}">
                                    <input type="radio" th:id="'gender'+${i}" name="gender"
                                        th:value="${i}" th:checked="${userEditForm.gender eq i}">
                                    <span th:text="${genders[i]}"></span>
                                </label>
                            </li></ol></td>
                        </tr>
                        <tr th:id="#{user.edit.birthday.id}">
                            <th><label for="birthday" th:text="#{user.detail.birthday.caption}"></label></th>
                            <td><input type="date" th:field="*{birthday}"></td>
                        </tr>
                        <tr th:id="#{user.edit.introduction.id}">
                            <th><label for="introduction" th:text="#{user.detail.introduction.caption}"></label></th>
                            <td><textarea th:field="*{introduction}"></textarea></td>
                        </tr>
                    </table>
                </form>
                <button th:id="#{user.edit.button.toShow.id}" type="button"
                        th:text="#{user.edit.button.toShow.caption}"
                        th:title="#{user.edit.button.toShow.tooltip}"></button>
                <button th:id="#{user.edit.button.update.id}" type="button"
                        th:text="#{user.edit.button.update.caption}"
                        th:title="#{user.edit.button.update.tooltip}"></button>
            </div>

            <button th:id="#{user.detail.button.bookshelfCreate.id}" type="button"
                    th:text="#{user.detail.button.bookshelfCreate.caption}"
                    th:title="#{user.detail.button.bookshelfCreate.tooltip}"></button>

            <!-- overlay -->
            <div id="overlay"></div>

            <!-- bookshelf create dialog -->
            <div th:id="#{bookshelf.create.dialog.id}" class="dialog">
                <div class="dialogContent">
                    <form th:id="#{bookshelf.create.form.id}" th:object="${bookshelfEditForm}" th:action method="post"
                            autocomplete="off" onSubmit="return false;">
                        <input type="hidden" th:field="*{user}">
                        <div th:id="#{bookshelf.create.name.id}">
                            <p class="caption" th:text="#{bookshelf.create.name.caption}"></p>
                            <input type="text" th:field="*{name}">
                        </div>
                        <div th:id="#{bookshelf.create.description.id}">
                            <p class="caption" th:text="#{bookshelf.create.description.caption}"></p>
                            <textarea th:field="*{description}"></textarea>
                        </div>
                        <div class="dialogButtonWrapper">
                            <button class="dialogButton" type="button"
                                    th:id="#{bookshelf.create.dialog.button.cancel.id}"
                                    th:text="#{bookshelf.create.dialog.buttons.cancel.caption}"></button>
                            <button class="dialogButton" type="button"
                                    th:id="#{bookshelf.create.dialog.button.register.id}"
                                    th:text="#{bookshelf.create.dialog.buttons.register.caption}"></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- bookshelf list -->
            <div th:replace="part/bookshelfParts::list(${bookshelfViews}, ${bookshelfPages})"></div>
            <div th:replace="part/pagination::content(pages=${bookshelfPages}, paginationUrl=detail, queryParam1='userId='+${user.id})"></div>
        </div>
    </body>
</html>