@charset "UTF-8";

/* bookshelf list */
#bookshelfListContainer {
    margin: 24px 0;
}
.bookshelfList {
    background-image: url("/image/bookshelf.png");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: 22px;

    cursor: pointer;

    width: 100%;
    height: 100%;
    display: inline-block;

    overflow-y: auto;
}

a.bookshelfListAnchor {
    display: inline-block;
    width: 200px;
    height: 246px;
    margin: 6px 12px 6px 0px;
}
a.bookshelfListAnchor:focus {
    outline: none;
}
a.bookshelfListAnchor:focus div,
div.bookshelfList:hover {
    transition: all 0.2s;
    color: orange;
}

table.bookshelfListInfo {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: inline-block;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 8px;
}

table.bookshelfListInfo td {
    word-break: break-all;
}