@charset "UTF-8";

/* bookshelf list */
#bookshelfListContainer {
    margin: 12px 0;
}
.bookshelfList {
    background-image: url("/image/bookshelf.png");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: 22px;

    cursor: pointer;

    margin: 6px 12px 6px 0px;
    width: 200px;
    height: 246px;
    display: inline-block;
}

.bookshelfListAnchor {
    text-decoration: none;
}

.bookshelfList:hover {
    transition: all 0.2s;
    color: orange;

}

.bookshelfListInfo {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: inline-block;
}