<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:fragment="bookshelfPartsCss" rel="stylesheet" th:href="@{/css/part/bookshelfParts.css}">
    </head>
    <body>
        <div th:fragment="list(bookshelfViews, bookshelfPages)" th:remove="tag">
            <!-- <form>
                <input type="text" th:id="#{bookshelf.searchBox.id}">
                <input type="submit" th:id="#{bookshelf.searchButton.id}" th:value="#{bookshelf.searchButton.caption}">
            </form> -->
            <div th:id="#{bookshelf.list.container.id}">
                <a th:each="bookshelfView:${bookshelfViews}" th:href="@{/bookshelf/detail(id=${bookshelfView.id}, page=0)}" class="bookshelfListAnchor">
                    <div th:id="'bookshelf'+${bookshelfView.id}" class="bookshelfList">
                        <table class="bookshelfListInfo">
                            <tr th:title="#{bookshelf.list.name.caption}">
                                <td th:text="${bookshelfView.name}"></td>
                            </tr>
                            <tr th:title="#{bookshelf.list.userName.caption}">
                                <td>
                                    <span th:text="#{bookshelf.list.userName.prefix}"></span>
                                    <br>
                                    <span th:text="${bookshelfView.user.name}"></span>
                                </td>
                            </tr>
                            <tr th:title="#{bookshelf.list.updatedAt.caption}">
                                <td>
                                    <span th:text="#{bookshelf.list.updatedAt.prefix}"></span>
                                    <br>
                                    <span th:text="${bookshelfView.updatedDate}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>