<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:fragment="bookshelfPartsCss" rel="stylesheet" th:href="@{/css/part/bookshelfParts.css}">
    </head>
    <body>
        <div th:fragment="list(bookshelfs, bookshelfPages)" th:remove="tag">
            <!-- <form>
                <input type="text" th:id="#{bookshelf.searchBox.id}">
                <input type="submit" th:id="#{bookshelf.searchButton.id}" th:value="#{bookshelf.searchButton.caption}">
            </form> -->
            <div th:id="#{bookshelf.list.container.id}">
                <a th:each="bookshelf:${bookshelfs}" th:href="@{/bookshelf/detail(id=${bookshelf.id}, page=0)}" class="bookshelfListAnchor">
                    <div th:id="'bookshelf'+${bookshelf.id}" class="bookshelfList">
                        <table class="bookshelfListInfo">
                            <tr th:title="#{bookshelf.list.userName.caption}">
                                <td th:text="${bookshelf.user.name}"></td>
                            </tr>
                            <tr th:title="#{bookshelf.list.name.caption}">
                                <td th:text="${bookshelf.name}"></td>
                            </tr>
                            <tr th:title="#{bookshelf.list.createdAt.caption}">
                                <td th:text="${bookshelf.createdAt}"></td>
                            </tr>
                        </table>
                    </div>
                </a>
            </div>
        </div>
    </body>
</html>