<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{part/layout}">
    <body>
        <header layout:fragment="header">
            <h1 th:text="#{header.h1}"></h1>
            <nav id="headerNavLeft">
                <a th:text="#{header.nav.bookshelfIndex}" th:href="@{/bookshelf/index(page=0)}"></a>
                <a th:text="#{header.nav.bookIndex}"></a>
            </nav>
            <nav id="headerNavRight">
                <th:block th:if="${session.loginUser == null}">
                    <a th:text="#{header.nav.login}" th:href="@{/login}"></a>
                    <a th:text="#{header.nav.signUp}" th:href="@{/signup}"></a>
                </th:block>
                <th:block th:if="${session.loginUser != null}">
                    <a class="username" th:text="${session.loginUser.name}"
                        th:href="@{/user/detail(page=0, userId=${session.loginUser.id})}"></a>
                    <a th:text="#{header.nav.logout}" onclick="forms['logoutForm'].submit();"></a>
                    <form name="logoutForm" method="post" th:action="@{/logout}"></form>
                </th:block>
            </nav>
        </header>
    </body>
</html>