<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    	<link rel="stylesheet" th:href="@{/css/HTML5DoctorCSSReset.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script th:src="@{/js/util/common.js}" defer></script>
		<script type="text/javascript">
			// Global definition
			_containers = [];
		</script>
    </head>
    <body>
        <div layout:fragment="content"></div>
    </body>
</html>