<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/HTML5DoctorCSSReset.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
		<script th:src="@{/js/util/util.js}" defer></script>
        <script th:src="@{/js/part/pagination.js}" defer></script>
    </head>
    <body>
        <div layout:fragment="content"></div>
    </body>
</html>