@charset "UTF-8";

td, th {
    padding: 8px 36px 8px 0px;
}
th {
    text-align: left;
}
label {
    color: white;
    font-size: 20px;
}
input {
    border-bottom: solid 1px white;
    color: white;
}
input::placeholder {
    color: white;
    opacity: 0.6;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px tan inset;
    -webkit-text-fill-color: white;
}
button#authLoginButton {
    margin-top: 20px;
}

h2#loginH2, h2#signupH2 {
    color: white;
}