@charset "UTF-8";

table tr td ,
table tr th {
    padding: 8px 36px 8px 0px;
}
table tr th {
    text-align: left;
}
table tr th label {
    color: white;
    font-size: 20px;
}
table tr td input {
    border-bottom: solid 1px white;
    color: white;
}
table tr td input::placeholder {
    color: white;
    opacity: 0.6;
}
button#loginButton {
    margin-top: 20px;
}