@charset "UTF-8";

/* book list */
a.bookListAnchor {
    text-decoration : none;
}
div.bookList {
    background-image : url("/image/book.png");
    background-repeat : no-repeat;
    color : black;
    font-weight : bold;
    font-size : 20px;

    cursor : pointer;

    margin : 6px 12px 6px 0px;
    width : 200px;
    height : 250px;
    display : inline-block;
}
div.bookList:hover {
    opacity : 0.8;
}
table.bookListInfo {
    margin : 25% 5%;
    display : inline-block;
}

/* book detail */
.bookDetail table tr th,
.bookDetail table tr td {
    padding : 8px 36px 8px 0px;
}
.bookDetail table tr th {
    text-align : right;
}
.bookDetail table tr td pre {
    font-size : 16px;
    white-space : pre-wrap;
}