@charset "UTF-8";

/* bookshelf index */
.bookshelfList {
    background-image: url("/image/bookshelf.jpg");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: 22px;

    cursor: pointer;

    margin: 6px 12px 6px 0px;
    width: 200px;
    height: 250px;
    display: inline-block;
}

.bookshelfListAnchor {
    text-decoration: none;
}

.bookshelfList:hover {
    opacity: 0.8;
}

.bookshelfListInfo {
    width: 80%;
    height: 80%;
    margin: 10%;
    display: inline-block;
}

/* bookshelf show, bookshelf edit */
div#bookshelfShowContainer,
div#bookshelfEditContainer {
    margin-bottom: 36px;
}
div#bookshelfShowContainer div p,
div#bookshelfEditContainer div p {
    font-size: 20px;
}
div#bookshelfShowDescription,
div#bookshelfEditDescription {
    margin: 20px 0;
}
div#bookshelfShowDescription pre {
    font-family: meiryo;
    font-size: 28px;
}
div#bookshelfShowCreatedAt p,
div#bookshelfShowUpdatedAt p {
    display: inline-block;
    margin-bottom: 10px;
}
div#bookshelfShowCreatedAt p.caption,
div#bookshelfShowUpdatedAt p.caption {
    width: 140px;
}
div#bookshelfEditName p,
div#bookshelfEditDescription p {
    margin-bottom: 10px;
}
div#bookshelfEditName input,
div#bookshelfEditDescription textarea {
    font-family: meiryo;
    font-size: 20px;
}
div#bookshelfEditName input {
    border-bottom: solid 1px black;
}
div#bookshelfEditDescription textarea {
    border: solid 1px black;
}
div#bookshelfEditName p.caption,
div#bookshelfEditDescription p.caption {
    width: 170px;
    font-weight: bold;
}