@charset "UTF-8";

/* book list */
a.bookListAnchor {
    text-decoration: none;
}
a.bookListAnchor:hover,
a.bookListAnchor:focus {
    outline:none;
    opacity: 0.8;
}

div.bookList {
    background-image: url("/image/book.png");
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;

    margin: 6px 12px 6px 0px;
    width: 200px;
    height: 250px;
    display: inline-block;
}

table.bookListInfo {
    margin: 25% 5%;
    display: inline-block;
}

/* book detail */
table.bookShow tr,
table.bookEdit tr {
    height: 40px;
}
table.bookShow tr th,
table.bookShow tr td,
table.bookShow tr td pre,
table.bookEdit tr th label,
table.bookEdit tr td input,
table.bookEdit tr td textarea {
    font-size:20px;
    color: white;
}
table.bookShow tr th,
table.bookShow tr td,
table.bookEdit tr th,
table.bookEdit tr td {
    padding: 8px 36px 8px 0px;
}
table.bookShow tr th,
table.bookEdit tr th {
    text-align: right;
    width: 135px;
}
table.bookShow tr td pre,
table.bookEdit tr td textarea {
    white-space: pre-wrap;
    vertical-align: top;
}