@charset "UTF-8";

.bookshelf {
    background-image : url("/image/bookshelf.jpg");
    background-repeat : no-repeat;
    color : white;
    font-weight : bold;
    font-size : 22px;

    margin : 6px 12px 6px 0px;

    width : 200px;
    height : 250px;
    display : inline-block;
}
.bookshelfInfo {
	width : 80%;
	height : 80%;
	margin : 10%;
	display : inline-block;
}