@charset "UTF-8";

/* book list */
div#bookListContainer {
    margin: 24px 0;
}

a.bookListAnchor {
    text-decoration: none;
}

a.bookListAnchor:focus {
    outline:none;
}

a.bookListAnchor:focus div,
div.bookList:hover {
    transition: all 0.2s;
    color: orange;
}

div.bookList {
    background-image: url("/image/book.png");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;

    margin: 6px 12px 6px 0px;
    width: 200px;
    height: 250px;
    display: inline-block;
}

table.bookListInfo {
    margin: 10%;
    width: 80%;
    height: 80%;
    display: inline-block;

    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 8px;
}

/* book create, book detail */
table.bookShow tr th,
table.bookShow tr td,
table.bookShow tr td pre,
table.bookEdit tr th,
table.bookEdit tr td input,
table.bookEdit tr td textarea,
table.bookCreate tr th,
table.bookCreate tr td input,
table.bookCreate tr td textarea {
    font-size:20px;
    color: white;
}
table.bookEdit tr td input,
table.bookCreate tr td input {
    border-bottom: solid 1px white;
}
table.bookEdit tr td textarea,
table.bookCreate tr td textarea {
    border: solid 1px white;
}
table.bookShow tr th,
table.bookShow tr td,
table.bookEdit tr th,
table.bookEdit tr td,
table.bookCreate tr th,
table.bookCreate tr td  {
    padding: 8px 36px 8px 0px;
}
table.bookShow tr th,
table.bookEdit tr th,
table.bookCreate tr th  {
    text-align: right;
    width: 135px;
}
table.bookShow tr td pre,
table.bookEdit tr td textarea,
table.bookCreate tr td textarea  {
    font-family: meiryo;
    white-space: pre-wrap;
    vertical-align: top;
}
table.bookShow tr td pre {
    max-width: 500px;
    line-height: 1.2;
}
#editBookState td ol,
#editBookEvaluation td ol,
#createBookState td ol,
#createBookEvaluation td ol {
    font-size: 0;
}
#editBookState td ol li,
#editBookEvaluation td ol li,
#createBookState td ol li,
#createBookEvaluation td ol li {
    list-style-type: none;
    display: inline-block;
}
#editBookState td ol li,
#createBookState td ol li {
    margin-right: 12px;
}
#editBookState td ol li label,
#editBookEvaluation td ol li label,
#createBookState td ol li label,
#createBookEvaluation td ol li label {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}
#editBookState td ol li label,
#createBookState td ol li label {
    width: 70px;
    padding: 6px 3px;
    background-color: sienna;
    border-radius: 6px;
}
#editBookState td ol li label span,
#createBookState td ol li label span {
    font-size: 16px;
    color: white;
}
#editBookEvaluation td ol li label span,
#createBookEvaluation td ol li label span {
    font-size: 20px;
    color: white;
}