@charset "UTF-8";

/* bookshelf index */
h2#bookshelfIndexH2 {
    color: white;
}

/* bookshelf show, bookshelf edit */
h2#bookshelfDetailName {
    color: white;
    margin-bottom: 24px;
}
div#bookshelfShowContainer,
div#bookshelfEditContainer {
    margin-bottom: 36px;
    color: white;
}
div#bookshelfShowContainer div p,
div#bookshelfEditContainer div p {
    font-size: 20px;
}
div#bookshelfShowDescription,
div#bookshelfEditDescription {
    margin: 20px 0;
}
div#bookshelfShowDescription pre {
    font-family: meiryo;
    font-size: 20px;
    padding: 10px 0 10px 18px;
    border-left: double 4px white;
}
div#bookshelfShowCreatedAt p,
div#bookshelfShowUpdatedAt p {
    display: inline-block;
    margin-bottom: 10px;
}
div#bookshelfShowCreatedAt p.caption,
div#bookshelfShowUpdatedAt p.caption {
    width: 140px;
}
div#bookshelfEditName p,
div#bookshelfEditDescription p {
    margin-bottom: 10px;
}
div#bookshelfEditName input,
div#bookshelfEditDescription textarea {
    font-family: meiryo;
    font-size: 20px;
    color: white;
}
div#bookshelfEditName input {
    border-bottom: solid 1px white;
}
div#bookshelfEditDescription textarea {
    border: solid 1px white;
}
div#bookshelfEditName p.caption,
div#bookshelfEditDescription p.caption {
    width: 170px;
    font-weight: bold;
}