@charset "UTF-8";

body {
    margin: 12px;
    background-image: url("/image/wood-texture_00007.jpg");
}

h1 {
    font-size: 60px;
    margin: 24px 0px;
}

input[type="button"] {
    margin: 12px 12px 0 0;
    padding: 12px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
input[type="button"].buttonDanger {
    background-color: red;
}
input[type="button"]:hover,
input[type="button"]:focus {
    opacity: 0.6;
}
