@charset "UTF-8";

body {
    background-image: url("/image/wood-texture_00035.jpg");
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 350px;
}

textarea {
    border: solid 1px white;
    min-width: 350px;
    min-height: 150px;
    resize: both;
    line-height: 1.2;
}

button {
    margin: 12px 12px 0 0;
    padding: 12px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}
button.buttonDanger {
    background-color: red;
}
button:hover,
button:focus {
    background-color: darkgreen;
}
button.buttonDanger:hover,
button.buttonDanger:focus {
    background-color: darkred;
}

/* dialog */
.dialog {
    display: none;
    border-radius: 12px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    min-width: 600px;

    background-image: url("/image/brown-wooden-flooring.jpg");
}
.dialogTitle {
    padding: 12px;
    border-radius: 12px 12px 0 0;

    font-size: 32px;
    background-color: olive;
    color: white;
}
.dialogContent {
    padding: 24px;
}
input[type="button"].dialogButton {
    margin: 12px 0 0 12px;
    background-color: olive;
}
input[type="button"].dialogButton:hover,
input[type="button"].dialogButton:focus {
    background-color: darkolivegreen;
}
.dialogButtonWrapper {
    text-align: right;
}
#overlay {
    display: none;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background-color: black;
    opacity: 0.7;
}
pre.confirmDialogMessage {
    font-size: 20px;
    color: white;
}