@charset "UTF-8";

/* user show, user edit */
h2#userDetailName {
    color: white;
    margin-bottom: 24px;
}
div#userShowContainer,
div#userEditContainer {
    margin-bottom: 36px;
    color: white;
}
div#userShowContainer div p,
div#userEditContainer div p {
    font-size: 20px;
}
div#userShowIntroduction,
tr#userEditIntroduction {
    margin: 20px 0;
}
div#userShowIntroduction pre {
    font-size: 20px;
    padding: 10px 0 10px 18px;
    border-left: double 4px white;
}
div#userShowGender p,
div#userShowBirthday p,
div#userShowCreatedAt p {
    display: inline-block;
    margin-bottom: 10px;
}
div#userShowGender p.caption,
div#userShowBirthday p.caption,
div#userShowCreatedAt p.caption {
    width: 140px;
}
tr#userEditEmail th,
tr#userEditName th,
tr#userEditPassword th,
tr#userEditRePassword th,
tr#userEditGender th,
tr#userEditBirthday th {
    text-align: left;
    vertical-align: center;
}
tr#userEditIntroduction th {
    vertical-align: top;
}
tr#userEditEmail th label,
tr#userEditName th label,
tr#userEditPassword th label,
tr#userEditRePassword th label,
tr#userEditGender th label,
tr#userEditBirthday th label,
tr#userEditIntroduction th label {
    font-weight: bold;
    padding-right: 18px;
}
tr#userEditEmail td,
tr#userEditName td,
tr#userEditPassword td,
tr#userEditRePassword td,
tr#userEditGender td,
tr#userEditBirthday td,
tr#userEditIntroduction td {
    padding-bottom: 10px;
}
tr#userEditEmail td input,
tr#userEditName td input,
tr#userEditPassword td input,
tr#userEditRePassword td input,
tr#userEditBirthday td input,
tr#userEditIntroduction td textarea,
tr#userEditEmail th label,
tr#userEditName th label,
tr#userEditGender th label,
tr#userEditPassword th label,
tr#userEditRePassword th label,
tr#userEditBirthday th label,
tr#userEditIntroduction th label {
    font-size: 20px;
    color: white;
}
tr#userEditGender td ol li label span {
    font-size: 16px;
    color: white;
}
tr#userEditPassword td input::placeholder,
tr#userEditRePassword td input::placeholder {
    color: white;
    opacity: 0.6;
}
tr#userEditEmail td input,
tr#userEditName td input,
tr#userEditBirthday td input,
tr#userEditPassword td input,
tr#userEditRePassword td input {
    border-bottom: solid 1px white;
}
td#userEditIntroduction textarea {
    border: solid 1px white;
}
tr#userEditGender td ol li {
    display: inline-block;

    margin-right: 12px;
}
tr#userEditGender td ol li label {
    display: inline-block;
    text-align: center;

    width: 70px;
    padding: 6px 3px;
    background-color: sienna;
    border-radius: 6px;
}